.category-list__container{

    h2 {
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        justify-content: center;
        border: 2px solid black;
    }

    h2:hover {
        color: #F0CA4F;
        background-color: black;

    }
}

.category-list__box{
    position: relative;
    padding-bottom: 5px;

    img {
        width: 99%;
        justify-content: center;
        background-size: cover; /* Ensures the image covers the container */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        border: black 3px solid;
    }

    h2 {
        background-color: #F0CA4F;
        padding: 10px;
        justify-content: center;
        text-align: center;
        border-radius: 50px;
        border: 3px solid black;
        left: 50%;
        top: 50%;
        width: 40%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
    }

    h2:hover {
        color: #F0CA4F;
        background-color: black;
        border-color: #F0CA4F;
    }

    i {
        font-size: var(--font-m);
        font-weight: 700;
        background-color: #F0CA4F;
        padding: 10px;
        justify-content: center;
        border-radius: 50px;
        border: 3px solid black;
        left: 50%;
        top: 50%;
        width: 70%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media (min-width: 800px) {
    .venue-list__container {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 400px;
        gap: 20px;

        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }

        .text-main {
            margin: 0;
            margin-left: 20px;
            height: 350px;
            overflow: hidden;
            text-overflow: ellipsis;

            p {
                margin:0;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }
        }
    }



}