header {
    padding: 10px 0;
}

header > h1 {
    font-size: var(--font-xl);
}

.flex-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    > h2 {
        padding: 0;
        margin: 0;
        border: 2px solid black;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    > h2:last-child {
        border-right:none;
    };
}

header h2 {
    font-size: var(--font-s);
}

header .flex-buttons > h2 {
    border-left: none;
    border-color: black;
    font-size: var(--font-s);
    padding: 5px 0;
}

.flex-buttons .top {
    gap: 0px
}

.button-src {
    justify-content: center;
    text-align: end;
    margin-right: 20px;
    height: 100%;
}

@media (max-width: 600px) {
    header > h1 {
        font-size: var(--font-xxl);
        font-family: "Onest";
        font-weight: 100;
    }
}

@media (min-width: 1700px) {
    header{
        padding: 0px 10vw;
    }

    header > h1 {
        text-align: center;
    }
}