header {
}

header > h1 {
    font-size: var(--font-xl);
}

.flex-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    background-color: var(--color-gent-main);
    > h2 {
        padding: 0;
        margin: 0;
        color: var(--color-gent-secondary);
        border: 2px solid var(--color-gent-secondary);
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    > h2:last-child {
        border-right:none;
    };
}

header h2 {
    font-size: var(--font-s);
}

header .flex-buttons > h2 {
    border-left: none;
    border-color: var(--color-gent-secondary);
    font-size: var(--font-s);
    padding: 5px 0;
}

.flex-buttons .top {
    gap: 0px
}

.button-src {
    justify-content: center;
    text-align: end;
    margin-right: 20px;
    height: 100%;
}

.footer--container {
    bottom: 0;
    height: 40px;
    left:0;
    right: 0;
}

.static {
    position: static;
    background-color: black;
    height: 50px
}

.fixed {
    position: fixed;
    background-color: var(--color-gent-main);
}

@media (max-width: 600px) {
    header > h1 {
        font-size: var(--font-xxl);
        font-family: "Onest";
        font-weight: 100;
    }
}

@media (min-width: 1700px) {
    header{
    }

    header > h1 {
        text-align: center;
    }
}