.home__container {
    padding: 0 10px;

    .surprise{
        position: fixed;
        bottom: 10px;
        left: 15px;
        right: 15px;
        z-index: 1000;
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 500;
        padding: 10px 0;
        color: var(--color--secondary);
        border: 2px solid var(--color-secondary);
        background-color: var(--color-main);
    }

    .surprise:hover {
        color: var(--color-main);
        border: 2px solid var(--color-main);
        background-color: var(--color-secondary);
    }
}

.fixed-wrapper {
    position: fixed;
    bottom: 10px;
    left: 15px;
    right: 15px;
}



@media (max-width:1200px) {
    .home__container {

        section:last-child {
            border-left: none;
        }
    }
}

@media (min-width: 1700px) {
    .home__container {
        padding: 0px 10vw;
    }
}

.home-grid{
    margin: 5vh auto auto;
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.home-grid .category-list__box  {
    width: 22vw;
    justify-content: center;
    text-align: center;
    margin: auto
}

@media (max-width:1500px){

    .home-grid {
    }

    .home-grid .category-list__box {
    }
}

@media (max-width:1300px){
    .home-grid .category-list__box {
        width: 45vw
    }
}