/* basic setup */

html, body{
  max-width:100%;
  overflow: auto;
  margin: 0;
  display: block;
  place-items: center;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: OstrichSans-Heavy;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --main-color: #f1f1f1;
  /*--light-pink: #F6DDE5;
  --deep-pink:  #EDB5C9;*/
  --light-pink: white;
  --deep-pink:  #EDB5C9;
  --main-text-color: #262626;

  --accent-color: rgba(253, 121, 168, 5%);
  --accent-color__menu: black;
  --FG-pink: rgba(253, 121, 168, 95%);


  margin:0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--light-pink)
}

/* backrground */

.background--white{
  color: white;
}

/* fonts */

@font-face {
  font-family: Trim-BoldItalic;
  src: local("Trim-BoldItalic"), url(../assets/Trim-BoldItalic.otf)
}

@font-face {
  font-family: Trim-Bold;
  src: local("Trim-Bold"), url(../assets/Trim-Bold.otf)
}

@font-face {
  font-family: Trim-ExtraBold;
  src: local("Trim-ExtraBold"), url(../assets/Trim-ExtraBold.otf)
}

@font-face {
  font-family: Trim Web Regular;
  src: local("Trim Web Regular"), url("../assets/Trim Web Regular.ttf");
}

@font-face {
  font-family: BergenText-Regular;
  src: local("BergenText-Regular"), url("../assets/BergenText-Regular.otf");
}

@font-face {
  font-family: BergenText-Bold;
  src: local("BergenText-Bold"), url("../assets/BergenText-Bold.otf");
}

/* TYPOGRAPHY */

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  padding-top: 0.5em;
  background: transparent;

  .title{
    font-size: 7em;
    color: var(--accent-color__menu);
    line-height: 0.2em;
  }

}


h2{
  font-family: Trim-ExtraBold;
  color: var(--main-text-color);
  font-size: 2.5rem;
}

p{
  font-family: "Trim Web Regular";
  color: var(--main-text-color);
  text-align: left;
}

/* HEADERS */

.headerB--container{
  height: 0vw;
  border-bottom: white 0px solid;
}

.headerB--title_typo {
  font-family: Trim-ExtraBold;
  line-height: 0;
  color: white;
  font-size: 5em;
  line-height: 0;
}

.headerB--button_main{
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  flex-direction: column;
  gap: 1em;
  z-index: 10000000;
}

.headerB--button_container{
  position: relative;
  background-color: white;
  border-radius: 50px;
  width: 4em;
  height: 4em;
}

.headerB--button{
  position: relative;
  width: 2.5em;
  margin: 0.7em;
}



.header--container{
  display: grid;
  grid-template-columns: 50vw 50vw;
  height: auto;
  padding-top: 15px;
  overflow: hidden;
  border-bottom: white 3px solid;
  /*background: rgba(253, 121, 168, 20%);*/
}

.header--container_buttons{
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}


.header--button_container{
  position: relative;
  top: 0.5em;
  background: rgba(253, 121, 168, 70%);
  border-radius: 30px;
  margin: 5px;
}

.header--button{
  position: relative;
  height: 2em;
  width: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}



.header--logo{
  position: relative;
  height: 15vh;
  left: 5px;
}

.header--slug{
  position: relative;
  text-align: left;
  top: 10%;
  left: 30%;
}

/* UI ELEMENTS */

.main--container{
  width: 100vw;
  overflow: clip;
}

.BG--gradient{
  background: linear-gradient(0deg, rgba(237,181,201,1) 0%, rgba(255,255,255,1) 5%, rgba(246,221,229,1) 10%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 95%, rgba(237,181,201,1) 100%);
}

/* MAP */

.leaflet-container{
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.map--ui{
  opacity: 0.85;
}

.map--ui_logo{
  position: relative;
  height: 7.5vh;
  z-index: 1000000000000;
  padding-left: 10vw;
}

.map--ui_top-container{
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  position: absolute;
  top: 2vh;
  width: 100vw;
  height: 5vh;
}

.map--ui_filter-container{
  position: relative;
  margin-top: 1vh;
  margin-left: 10vw;
  width: 30vw;
  height: 75%;
  background-color: #EDB5C9;
  opacity: 0.7;
  border-radius: 30px;
  z-index: 10000000000000000000
}

.map--ui_position-container{
  position: relative;
  margin-top: 1vh;
  width: 75%;
  height: 75%;
  background-color: #F6DDE5;
  opacity: 0.7;
  border-radius: 30px;
  z-index: 10000000000000000000
}

.map--ui_position-icon{
  display: block;
  width: 50%;
  padding-top: 0.5em;
  margin:auto;
}

.map--ui_filter-label{
  position: relative;
  text-align: center;
  top: 25%;
  font-family: BergenText-Bold;
  text-transform: uppercase;
  font-size: 1.3em;
}

.map--ui_pop-up-container{
  height: 20vh;
  background: var(--light-pink);
  border: var(--deep-pink) 1vw solid;
  border-radius: 20px;
  position: absolute;
  bottom:0;
  width: 94vw;
  z-index: 1000000000000;
  margin: 2vw;
}

.UI-GRID__popup{
  position: absolute;
  width: 100vw;
  height: 20vh;
  object-fit: cover;
  z-index: -10;
  opacity: 0.2;
}

@media screen and (min-width: 1024px) {
  .map--ui_pop-up-container{
    height: 95vh;
    left: 70vw;
    background: var(--light-pink);
    border-radius: 20px;
    position: absolute;
    bottom:0;
    width: 27vw;
    z-index: 1000000000000;
    margin: 2vw;
  }

  .UI-GRID__popup{
    position: absolute;
    width: 27vw;
    height: 95vh;
    object-fit: cover;
    z-index: -10;
    opacity: 0.2;
  }
}

.map--ui_pop-up-container--grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
}

.map--ui_pop-up-container__img{
  position: relative;
  top: 2vh;
  left: 2vh;
  height: 15vh;
  width: 15vh;
  object-fit: cover;
  border-radius: 10px;
}

.map--ui_pop-up-container__title{
  top: 2vh;
  position: relative;
  font-family: BergenText-Bold;
  font-size: 20px;
}

.map--ui_pop-up-container__pill{
  top: 2vh;
  background: var(--deep-pink);
  border-radius: 30px;
  padding: 0px 5px;
  width: fit-content;
  position: relative;
  font-family: BergenText-Regular;
  font-size: 14px;
  color: var(--main-text-color);
}

.map--ui_pop-up-container__pill-pricing{
  background: white;
  border-radius: 50px;
  color: var(--main-text-color);
  border: var(--deep-pink) 2px solid;
  border-radius: 30px;
  padding: 0px 5px;
  width: fit-content;
  position: relative;
  top: 3vh;
  min-width: 5vw;
  font-family: BergenText-Regular;
  font-size: 14px;

  text-align: center;
}

.marker-cluster-small{
  background-color: var(--light-pink);
}

.marker-cluster-small>div{
  background: var(--deep-pink)
}

.autogrid-pills{
  display: flex;
  gap: 3px;
}


.container {
  height: 100vh;
  width: 100vw;
  background: var(--light-pink);
  overflow-y: hidden;
  overflow-x: hidden;
}

/* NAVIGATION */

.sticky-nav__menu{
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 10000000000000000;
  background: rgba(253, 121, 168, 90%);
}

.sticky-nav__menu-item{
  color: var(--accent-color__menu);
  font-family: Trim-ExtraBold;
}

.sticky-nav-header{
  position: absolute;
  background: transparent;
  top: 1rem;
  right: 2rem;
  z-index: 10000;
}


.sticky-nav-float{
  position: absolute;
  background: transparent;
  bottom: 1rem;
  right: 2rem;
  z-index: 1000000;
}

.sticky-nav__hamburger{
  width: 20vw;
}


.home--logo {
  margin-left: 8vw;
  width: 80vw;
  z-index: 10000;
}

.home{
  overflow: hidden;
  width: 100vw;
}

.venue--container{
  padding: 6vw;
  padding-top: 0vw;
  background: transparent;
  z-index: 100000;
  position: absolute;
  overflow: hidden;
  width: 88vw;
}

.venue--container_content{
  position: relative;
  padding-top: 30vh;
  top: -30vh;
  padding-bottom: 2vh;
}

.venue--header_title{
  font-size: 3em;
  line-height: 1em;
  padding-bottom: 0.5em;
}

.venue--header_subtitle{
  top: -20px;
  position: relative;
  font-family: BergenText-Regular;
  font-size: 1.2em;
  color: var(--main-text-color);
}

.venue--container_content-links{
  position: relative;
  background: transparent;
  width: fit-content;
  color: var(--main-text-color);
  font-family: Trim-Bold;
  border-radius: 50px;
  font-size: 1.2em;
  z-index: 100000;
  left: -4em;
  padding-top: 4em;
}

.venue--container_content-slug{
  position: relative;
  top: -10px;
}

.venue--container_content-address{
  margin-left: 2em;
  font-family: BergenText-Bold;
  font-size: 0.9em;
}

.venue--container_content-openDays{
  display: flex;
}

.venue--container_content-openDays-day{
  margin-left: 4px;
  font-family: Trim-Bold;
}

.venue--container_content-review{
  margin-left: 2em;
  padding-bottom: 1em;
}

.venue--container_content-tip_container{
  background: rgba(253, 121, 168, 50%);
  position: relative;
  padding: 0px 20px;
  margin-left: -2em;
  overflow: auto;
  z-index: 100000000000000;
}

.venue--container_content-media{
  position: relative;
  /* height: 70vw; */
  /* width: 70vw; */
  z-index: 100000;
  padding-bottom: 1.33vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.venue--container_content-media-image{
  object-fit: cover;
  width: 70vw;
  height: 70vw;
}

.venue--container_content-media-frame{
  width: 75vw;
  height: 75vw;
  position: absolute;
  left: -5%;
  opacity: 0.5;
  top:-4%;
}

.venue--lightbox{
  position: absolute;
  background: linear-gradient(121deg, rgba(246,221,229,1) 0%, rgba(255,255,255,1) 30%, rgba(237,181,201,1) 100%);
  padding-top: 30vh;
  top: 0vh;
  padding-bottom: 2vh;
  left: 1em;
  width: 100vw;
  height: 70%;
  z-index: -10;
}

.categories--container{
  padding: 20px;
  background: transparent;
  position: absolute;
  z-index: 10000;
  width: 90vw;
}

.categories--title_font{
  background: rgba(253, 121, 168, 30%);
  margin-top: 15px;
  font-size: 2em;
}

.toplist--venue_title{
  text-align: center;
  color: #F6DDE5;
  /*border-radius: 50px;*/
  padding: 5px 10px;
  text-decoration: underline;
  font-family: "BergenText-Regular";
  position: absolute;
  z-index: 10000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background: rgba(253, 121, 168, 50%);*/
}


.toplist--title_font{
  margin-left: 1em;
  margin-top: 0.5em;
  font-size: 2em;
}

.toplist--image_container{
  position: relative;
  height: 90vw;
  width: 90vw;
  background: var(--deep-pink);
  left: -2vw;
}

.toplist--image{
  /*border: rgba(253, 121, 168, 70%) 2px solid;*/
  z-index: 100;
  height: 90vw;
  width: 90vw;
  left: 2vw;
  top: 2vw;
  justify-content:center;
  align-items:center;
  position: relative;
  overflow: hidden;
  opacity: 0.85;
}

.toplist--image_img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.UI-GRID{
  position: absolute;
  width: 100vw;
  opacity: 0.3;
  z-index: -10000000;
  height: 100vh;
  overflow: clip;
}

.pillbox--container{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 2%;
}


.pillbox{
  background: rgba(253, 121, 168, 50%);
  border-radius: 30px;
  width: fit-content;
  padding: 0px 5px;
  margin-bottom: 10px;
}

.pillbox-phone{
  font-family: Trim-ExtraBold;
  background: var(--main-text-color);
  border: var(--main-text-color) 2px solid;
  color: white;
  border-radius: 30px;
  width: 6em;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pillbox-website{
  font-family: Trim-ExtraBold;
  border: #EDB5C9 2px solid;
  background: #F6DDE5;
  color: var(--main-text-color);
  border-radius: 30px;
  width: 6em;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pillbox--directions{
  font-family: Trim-ExtraBold;
  background: var(--deep-pink);
  border: #F6DDE5 2px solid;
  color: #F6DDE5;
  border-radius: 30px;
  width: 6em;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pillbox.pricing{
  background: rgba(253, 121, 168, 50%);
  width: fit-content;
  border: var(--deep-pink) 2px solid;
  text-align: center;
}

.pillbox.veg{
  background: rgba(253, 121, 168, 50%);
  min-width: 5vw;
  text-align: center;
}

/* UTILS */

.vertical-center {
  margin: 0;
  position: absolute;
  z-index: 100000;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.lightBox{
  background: rgba(253, 121, 168, 20%);
  /*background: linear-gradient(121deg, rgba(246,221,229,.4) 0%, rgba(255,255,2550,.6) 30%, rgba(237,181,201,.6) 100%);*/

  margin-top: -70%;
  padding-bottom: 10%;
  width: 79vw;
  margin-left: 10vw;
}

.lightBox__correction{
  padding-top: 70%;
  padding-right: 10vw;
}

.UI--BLACK_LINE{
  border-bottom: var(--main-text-color) solid 3px;
  height: 2px;
}