/* basic setup */

html,
body {
  max-width: 100%;
  overflow: auto;
  margin: 0;
  display: block;
  place-items: center;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: OstrichSans-Heavy;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --main-blue: #2a326d;
  --main-color: #f1f1f1;
  /*--light-pink: #F6DDE5;
  --deep-pink:  #EDB5C9;*/
  --light-pink: white;
  --deep-pink: #edb5c9;
  --main-text-color: #262626;
  --main-pink: #ffcae0;
  --accent-color: rgba(253, 121, 168, 5%);
  --accent-color__menu: black;
  --FG-pink: rgba(253, 121, 168, 95%);

  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--light-pink);
}

/* backrground */

.background--white {
  color: white;
}

/* fonts */

@font-face {
  font-family: Trim-BoldItalic;
  src: local("Trim-BoldItalic"), url(../assets/Trim-BoldItalic.otf);
}

@font-face {
  font-family: Trim-Bold;
  src: local("Trim-Bold"), url(../assets/Trim-Bold.otf);
}

@font-face {
  font-family: Trim-ExtraBold;
  src: local("Trim-ExtraBold"), url(../assets/Trim-ExtraBold.otf);
}

@font-face {
  font-family: Trim Web Regular;
  src: local("Trim Web Regular"), url("../assets/Trim Web Regular.ttf");
}

@font-face {
  font-family: BergenText-Regular;
  src: local("BergenText-Regular"), url("../assets/BergenText-Regular.otf");
}

@font-face {
  font-family: BergenText-Bold;
  src: local("BergenText-Bold"), url("../assets/BergenText-Bold.otf");
}

@font-face {
  font-family: Onest-VariableFont;
  src: local("Onest-VariableFont"), url("../assets/Onest-VariableFont_wght.ttf");
}

/* TYPOGRAPHY */

h1 {
  text-align: center;
  line-height: 1.1;
  padding-top: 0.5em;
  background: transparent;

  .title {
    font-size: 7em;
    color: var(--accent-color__menu);
    line-height: 0.2em;
  }
}

h2 {
  font-family: Onest-VariableFont;
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: lowercase;
}

p {
  font-family: "Onest-VariableFont";
  color: var(--main-text-color);
  text-align: left;
  line-height: 1.2;
}

.nav--back {
  font-family: "Trim-Bold";
  font-size: 50px;
  line-height: 0.9;
  padding-right: 10px;
  color: var(--deep-pink);
}

blockquote {
  font-family: "Trim-Bold";
  font-weight: 700;
  color: var(--main-text-color);
}

/* HEADERS */

header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  z-index: 10000000000000000000;
  background-color: #ffcae0;
}

header h1 {
  padding: 0;
}

header h1 img {
  /*logo*/
  margin-top: 10px;
  height: 78px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  line-height: 1;

  & a img {
    text-align: center;
    margin: 30px;
    height: 25px;
  }
}

.menu_container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: var(--main-blue);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  z-index: 999;

  & .closeIcon {
    width: 25px;
    align-items: right;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 30px;
    padding-right: 27px;
  }
}

.menu_container nav {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding-top: 30vh;

  & a,
  p {
    text-decoration: none;
    font-family: Onest-VariableFont;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 900;
    color: #f8d9de;
  }

  .languageContainer {
    padding-top: 30px;

    & p {
      font-size: 30px;
    }
  }

  .logo {
    position: fixed;
    width: 130px;
    bottom: 80px;
  }
}

.menu_container nav a:nth-child(even) {
  background-color: var(--main-pink);
  border-radius: 30% 20% 20% 20%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 10px 20px;
  color: var(--main-blue);
}

.gent {
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 99;
}

.nav--button {
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  & img {
    height: 60px;
    margin: auto;
  }
}

.header--container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  height: auto;
  padding-top: 15px;
  overflow: hidden;
  border-bottom: white 3px solid;
  /*background: rgba(253, 121, 168, 20%);*/
}

.header--button_container {
  top: 0.5em;
  background: rgba(253, 121, 168, 70%);
  border-radius: 30px;
  margin: 5px;
}

.header--button {
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.header--logo {
  position: relative;
  height: 15vh;
  left: 5px;
}

.header--slug {
  position: relative;
  text-align: left;
  top: 10%;
  left: 30%;
  color: pink;
}
/* UI ELEMENTS */

.main--container {
  width: 100vw;
  overflow: clip;
}

.BG--gradient {
  background: linear-gradient(
    0deg,
    rgba(237, 181, 201, 1) 0%,
    rgba(255, 255, 255, 1) 5%,
    rgba(246, 221, 229, 1) 10%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 95%,
    rgba(237, 181, 201, 1) 100%
  );
}

/* MAP */

.map--ui_pop-up-container {
  /* UI element giving extra information the selected location when clicking an icon on the map */
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 200px;

  background: var(--main-blue);
  border-top-right-radius: 50% 50%;
  display: flex;
  flex-direction: column;
  z-index: 98;

  & p {
    font-family: Onest-VariableFont;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 3vh;
    padding-bottom: 30px;
    color: white;
    left: 0;

    & p {
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }
}

.cross-ui {
  background-color: #edb5c9;
  padding: 10px;
  border-radius: 100%;
  position: fixed;
  width: 30px;
  left: 190px;
}

.map--ui_pop-up-container__img {
  position: relative;
  top: -2vh;
  left: 3vh;

  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.sticky--button_map {
  position: fixed;
  top: 80vh;
  left: 75vw;
  height: 75px;
  width: 75px;
  /*filter: drop-shadow(2px 2px 2px #d3cfcf);*/
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 98;
}

.map--ui {
  opacity: 0.85;
}

.map--ui_logo {
  position: relative;
  height: 7.5vh;
  z-index: 1000000000000;
  padding-left: 10vw;
}

.map--ui_top-container {
  background: none;
  position: absolute;
  display: flex;
}

.map--ui_filter-container {
  position: absolute;
  top: 27px;
  left: 75vw;
  width: 70px;
  height: 70px;
  background-color: #edb5c9;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 10000000000000000000;
}
.UI-GRID__popup {
  position: absolute;
  width: 100vw;
  height: 20vh;
  object-fit: cover;
  z-index: -10;
  opacity: 0.2;
}

.map--ui_container-search {
  position: absolute;
  background-color: white;
  opacity: 99%;
  top: 33px;
  max-width: 65vw;
  left: 5vw;
  right: 25vw;
  border-radius: 20px;
  z-index: 99999999999999;
  overflow-y: scroll;
  overflow-x: hidden;
}

.map--ui_pop-up-container-search_prompt {
  position: relative;
  left: 1em;
  top: 1em;
  text-transform: uppercase;
  font-family: Trim-ExtraBold;
  color: black;
  z-index: 9999999999999900;
}

.map--ui_pop-up-container-search_pills {
  position: relative;
  font-family: Trim-ExtraBold;
  max-width: 60vw;
  flex-wrap: wrap;
  display: flex;
  gap: 0.4em;
  padding: 1em;
}

.map--ui_pop-up-container-search_pillbox {
  background-color: transparent;
  width: fit-content;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border: var(--deep-pink) 2px dotted;
  color: var(--deep-pink);
  border-radius: 20px;
}

.activePill {
  border: var(--deep-pink) 2px solid;
}

.selected {
  border: var(--FG-pink) 2px solid;
  color: var(--FG-pink);
}

.closed {
  height: 0vh;
  transition-property: height;
  transition-duration: 1s;
}

.active {
  height: 80vh;
  transition-property: height;
  transition-duration: 1s;
  border: rgba(253, 121, 168, 70%) 3px solid;
}

.map--ui_container-search_grid {
  display: grid;
  position: relative;
  display: grid;
  grid-template-rows: fit-content;
}

.map--ui_pop-up-container-section {
  position: relative;
  height: fit-content;
  transition-property: border-bottom-width;
  transition-duration: 2s;
}

.map--ui_pop-up-container__pill {
  top: 2vh;
  background: var(--deep-pink);
  border-radius: 30px;
  padding: 0px 5px;
  width: fit-content;
  position: relative;
  font-family: BergenText-Regular;
  font-size: 14px;
  color: var(--main-text-color);
}

.map--ui_pop-up-container__pill-pricing {
  background: white;
  border-radius: 50px;
  color: var(--main-text-color);
  border: var(--deep-pink) 2px solid;
  border-radius: 30px;
  padding: 0px 5px;
  width: fit-content;
  position: relative;
  top: 3vh;
  min-width: 5vw;
  font-family: BergenText-Regular;
  font-size: 14px;

  text-align: center;
}

.marker-cluster-small {
  background-color: var(--main-pink);
}

.marker-cluster-small > div {
  background: white;
  & span {
    color: var(--main-text-color);
    font-family: Onest-VariableFont;
    font-weight: 700;
  }
}

.autogrid-pills {
  display: flex;
  gap: 3px;
}

.container {
  height: 100vh;
  width: 100vw;
  background: var(--light-pink);
  overflow-y: hidden;
  overflow-x: hidden;
}

/* NAVIGATION */

.sticky-nav__menu {
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 10000000000000000;
  background: rgba(253, 121, 168, 90%);
}

.sticky-nav__menu-item {
  color: var(--accent-color__menu);
  font-family: Trim-ExtraBold;
}

.sticky-nav-header {
  position: absolute;
  background: transparent;
  top: 1rem;
  right: 2rem;
  z-index: 10000;
}

.sticky-nav-float {
  position: absolute;
  background: transparent;
  bottom: 1rem;
  right: 2rem;
  z-index: 1000000;
}

.sticky-nav__hamburger {
  width: 20vw;
}

.home--logo {
  margin-left: 8vw;
  width: 80vw;
  z-index: 10000;
}

.home {
  overflow: hidden;
  width: 100vw;
}

.venue--container {
  padding: 6vw;
  padding-top: 0vw;
  background: transparent;
  z-index: 100000;
  position: absolute;
  overflow: hidden;
  width: 88vw;
}

.venue--container_content {
  position: relative;
  padding-top: 30vh;
  top: -30vh;
  padding-bottom: 2vh;
}

.content_header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: flex-start;
}

.venue--header_title {
  font-size: 3em;
  line-height: 1em;
}

.venue--header_subtitle {
  top: -20px;
  position: relative;
  font-family: BergenText-Regular;
  font-size: 1.2em;
  color: var(--main-text-color);
}

.venue--container_content-links {
  position: relative;
  background: transparent;
  width: fit-content;
  color: var(--main-text-color);
  font-family: Trim-Bold;
  border-radius: 50px;
  font-size: 1.2em;
  z-index: 100000;
  left: -4em;
  padding-top: 4em;
}

.venue--container_content-slug {
  padding-left: 40px;
  padding-bottom: 10px;
}

.venue--container_content-address {
  margin-left: 2em;
  font-family: BergenText-Bold;
  font-size: 0.9em;
}

.venue--container_content-openDays {
  display: flex;
}

.venue--container_content-openDays-day {
  margin-left: 4px;
  font-family: Trim-Bold;
}

.venue--container_content-review {
  margin-left: 2em;
  padding-bottom: 1em;
}

.venue--container_content-tip_container {
  background: rgba(253, 121, 168, 50%);
  position: relative;
  padding: 10px 20px;
  margin-left: -2em;
  overflow: auto;
  z-index: 100000000000000;
}

.venue--container_content-media {
  position: relative;
  /* height: 70vw; */
  /* width: 70vw; */
  z-index: 100000;
  padding-bottom: 1.33vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.venue--container_content-media-image {
  object-fit: cover;
  width: 70vw;
  height: 70vw;
}

.venue--container_content-media-frame {
  width: 75vw;
  height: 75vw;
  position: absolute;
  left: -5%;
  opacity: 0.5;
  top: -4%;
}

.venue--lightbox {
  position: absolute;
  background: linear-gradient(
    121deg,
    rgba(246, 221, 229, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(237, 181, 201, 1) 100%
  );
  padding-top: 30vh;
  top: 0vh;
  padding-bottom: 2vh;
  left: 1em;
  width: 100vw;
  height: 70%;
  z-index: -10;
}

.categories--container {
  padding: 20px;
  background: transparent;
  width: 90vw;

  & p {
    margin-top: 10px;
    text-transform: lowercase;
  }
}

.categories--welcome_container {
  margin: none;
  height: 65vh;
  width: 100vw;
  background: var(--main-blue);

  & h2,
  p,
  a {
    padding: 30px;
    color: white;
  }

  & h2 {
    padding-top: 90px;
    line-height: 1;
    font-weight: 900;
    font-size: 50px;
  }
  & p {
    font-size: 27px;
  }

  & .button-mask {
    -webkit-mask-image: url("../elements/SVG/Highlight_shape.svg");
    mask-image: url("../elements/SVG/Highlight_shape.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 200px;
    margin-left: 30px;
    position: relative;

    & p {
      background-color: var(--main-pink);
      width: contain;
      font-weight: 900;
      text-align: center;
      padding-bottom: 20px;
      color: var(--main-blue);
      position: relative;
      bottom: 15px;
    }
  }
}

.categories--title_font {
  padding-top: 10px;
  margin-top: 15px;
  line-height: 1;
}

.highlight {
  background: var(--main-pink);
  border-radius: 10%;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
  line-height: 1;
}

.toplist--venue_title {
  text-align: center;
  color: #f6dde5;
  /*border-radius: 50px;*/
  padding: 5px 10px;
  font-family: "Onest-VariableFont";
  font-weight: 900;
  color: var(--main-pink);
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background: rgba(253, 121, 168, 50%);*/
}

.toplist--title_font {
  margin-top: 0.5em;
  font-size: 2em;
}

.venue--image_container {
  -webkit-mask-image: url("../elements/SVG/VenueMask1.svg");
  mask-image: url("../elements/SVG/VenueMask1.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.toplist--image_container {
  -webkit-mask-image: url("../elements/SVG/VenueMask1.svg");
  mask-image: url("../elements/SVG/VenueMask1.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  height: 80vw;
  width: 80vw;
  background: var(--deep-pink);
  left: 5vw;
}

.toplist--image {
  /*border: rgba(253, 121, 168, 70%) 2px solid;*/
  z-index: 100;
  height: 90vw;
  width: 90vw;
  left: 2vw;
  top: 2vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.toplist--counter:nth-child(odd) {
  .toplist--image_container {
    -webkit-mask-image: url("../elements/SVG/VenueMask2.svg");
    mask-image: url("../elements/SVG/VenueMask2.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    left: 4vw;
    top: 2vw;
  }
  & .toplist--image {
    top: -2vw;
    left: -2vw;
  }
}

.toplist--image_img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.UI-GRID {
  position: absolute;
  width: 100vw;
  opacity: 0.3;
  z-index: -10000000;
  height: 125vh;
  overflow: clip;
}

.pillbox--container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 2%;
}

.pillbox {
  background: rgba(253, 121, 168, 50%);
  border-radius: 30px;
  width: fit-content;
  padding: 0px 5px;
  margin-bottom: 10px;
}

.pillbox-phone {
  font-family: Trim-ExtraBold;
  background: var(--main-text-color);
  border: var(--main-text-color) 2px solid;
  color: white;
  border-radius: 30px;
  width: 6em;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pillbox-website {
  font-family: Trim-ExtraBold;
  border: #edb5c9 2px solid;
  background: #f6dde5;
  color: var(--main-text-color);
  border-radius: 30px;
  width: 6em;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pillbox--directions {
  font-family: Trim-ExtraBold;
  background: var(--deep-pink);
  border: #f6dde5 2px solid;
  color: #f6dde5;
  border-radius: 30px;
  width: 6em;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pillbox.pricing {
  background: rgba(253, 121, 168, 50%);
  width: fit-content;
  border: var(--deep-pink) 2px solid;
  text-align: center;
}

.pillbox.veg {
  background: rgba(253, 121, 168, 50%);
  min-width: 5vw;
  text-align: center;
}

/* UTILS */

.vertical-center {
  margin: 0;
  position: absolute;
  z-index: 100000;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.lightBox {
  background: rgba(253, 121, 168, 20%);
  /*background: linear-gradient(121deg, rgba(246,221,229,.4) 0%, rgba(255,255,2550,.6) 30%, rgba(237,181,201,.6) 100%);*/
  margin-top: -75%;
  padding-bottom: 10%;
  width: 79vw;
  margin-left: 10vw;
}

.lightBox__correction {
  padding-top: 60%;
  padding-right: 10vw;
}

.UI--BLACK_LINE {
  border-bottom: var(--main-text-color) solid 3px;
  height: 2px;
}

@media (min-width: 900px) {
  .map--ui_pop-up-container {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    height: 100vh;

    max-width: 700px;
  }

  .UI-GRID__popup {
    position: absolute;
    max-width: 700px;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
    opacity: 0.2;
  }

  .map--ui_position-container,
  .map--ui_filter-container {
    display: none;
  }

  header {
    display: flex;
  }

  header h1 {
  }
}
