
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: OstrichSans-Heavy;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --main-color: #f1f1f1;
  --light-pink: #F6DDE5;
  --deep-pink:  #EDB5C9;
  --main-text-color: #262626;

  --accent-color: rgba(253, 121, 168, 5%);
  --accent-color__menu: black;
  --FG-pink: rgba(253, 121, 168, 95%);


  margin:0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--light-pink)
}

@font-face {
  font-family: Trim-BoldItalic;
  src: local("Trim-BoldItalic"), url(../assets/Trim-BoldItalic.otf)
}

@font-face {
  font-family: Trim-Bold;
  src: local("Trim-Bold"), url(../assets/Trim-Bold.otf)
}

@font-face {
  font-family: Trim-ExtraBold;
  src: local("Trim-ExtraBold"), url(../assets/Trim-ExtraBold.otf)
}

@font-face {
  font-family: Trim Web Regular;
  src: local("Trim Web Regular"), url("../assets/Trim Web Regular.ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  padding-top: 0.5em;
  background: transparent;
}

.FC{
  font-family: "OstrichSans-Heavy";
}

h1.title {
  font-size: 7em;
  color: var(--accent-color__menu);
  line-height: 0.2em;
}

h2{
  font-family: Trim-ExtraBold;
  color: var(--main-text-color);
  font-size: 2.5rem;
}

p{
  font-family: "Trim Web Regular";
  color: var(--main-text-color);
  text-align: left;
}

.leaflet-container{
  width: 100%;
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  background: var(--light-pink);
}

.sticky-nav{
  position: fixed;
  background: transparent;
  bottom: 2rem;
  right: 1rem;
  z-index: 10000;

}

.sticky-nav__item {
  background: transparent;
  position: relative;
  margin-top: .75rem;
  z-index: 10000;

}

.sticky-nav__button {
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 0.2em solid var(--accent-color__menu);
  /*box-shadow: .2em .2em 0px #000000; */
  border-radius: 42.5%;
  padding: 0.75em;
  cursor: pointer;
  transition: transform 100ms,box-shadow 100ms;
  z-index: 10000;
}

.sticky-nav__button:hover{
  box-shadow: 0 0 #000;
  transform: translate(0.2em, 0.2em);
}

.sticky-nav__menu{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top:0;
  background: var(--accent-color__menu);
  z-index: 100;
}

.sticky-nav__menu-item:hover{
  text-decoration: underline;
}

.list-box{
  padding: 0.75rem;
}

.list-box__element{
  margin: 0.75rem;
  height: 20vh;
  border: 0.2em solid var(--accent-color__menu);
  background: var(--accent-color);
}

.list-box__header{
  font-size: 2.5rem;
  background: transparent;
}

.places__overlay{
  background: white;
  position: absolute;
  top: 0;
  left: 0%;
  right: 0;
  z-index: 100000000;
}

.places__overlay-title{
  text-align: right;
  color:  black;
  margin-right: 10px;
}

.header--container{
  display: grid;
  grid-auto-columns: 50vw 50vw;
  height: 15vh;
  margin-top: 15px;
}

.header--logo{
  position: absolute;
  height: 15vh;
  left: -5px;
}

.home--logo {
  width: 100vw;
}

.home{
  overflow: hidden;
  width: 100vw;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.categories--container{
  padding: 20px;
  background: transparent;
  position: absolute;
  z-index: 10000;
}

.categories--title_font{
  background: rgba(253, 121, 168, 40%);
  margin-top: 15px;
}

.UI-GRID{
  position: absolute;
  width: 100vw;
  opacity: 0.5;
  z-index: 10;
}
