:root {
    --pale-lemon-yellow: #fff59e;
    --turquoise-green: #b5ffc2;
    --salvia-blue: #97bee6;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.visibleClass {
    display: block;
}

.hiddenClass {
    display: none;
}