.map-container{
    width: 100vw;
    position: fixed;
}

.map--ui_container{
    height: 100vh;
    width: 100vw;
}

.map--ui{
    height: 100%;
}

.map--filter_container {
    position: absolute;
    z-index: 10000;
    width: 300px;
    top: 20px;
    bottom: 20px;
    right: 20px;
    border: 2px black solid;
    border-radius: 20px;
}

.map-tip__container {
    position: absolute;
    z-index: 10000;
    top: 20px;
    left: 20px;
    width: 50%;
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    p {
        margin: 0;
    }
}

.leaflet-container {
    position: absolute;
    width: 100%;
    height: 83vh;
}

@media (max-width: 1200px) {
    .map-tip__container {
        right: 20px;
        width: auto;
    }
}

@media (max-width: 1200px) {
    .map--filter_container {
        display: none;
    }
}