img {
    max-width: 99%;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    border: black 3px solid;
}

.logo-container {
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}

.logo {
    border: none;
    width: 50%;

}

.image__club-tag {
    position: absolute;
    width: auto;
    top: 5px;
    left: 20px;
    padding: 0 10px;
    color: var(--color-main);
    background-color: var(--color-secondary);
    font-family: DM-sans;
}