.text-main {
    font-size: 1.1rem;
}

.cuisines{
    display: flex;
    flex-flow: row;
    gap: 5px;
    flex-wrap: wrap;

    h2 {
        border: 2px black solid;
        padding: 0px 5px;
    }

    h2:hover {
        background-color: var(--color-secondary);
        color: var(--color-main);
    }
}



.venue-tip__container{
    display: grid;
    grid-template-columns: 10% 90%;
    max-width: 99%;
    border: 2px black dashed;
    padding: 10px;
    margin: 10px 0px;
    background-color: var(--color-main);

    p {
        margin-block: 0;
    }
}

.venue-info__container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.venue__container {
    padding: 10px 10px;
}

@media (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container-big {
        padding: 0 20px;
    }

    .text-main {
        margin-top: 0;
        text-align: left;

        p {
            margin: 0;
            text-align: left;
            font-size: 1rem;
        }
    }
}

@media (min-width: 1700px) {
    .venue__container {
        padding: 10px 10vw;
    }

}

.reservations {
    background-color: var(--color-main);
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    padding:20px 0;
    border: 2px solid black;
    a {
        color: var(--color-secondary);
        text-decoration: none;
        font-size: 2.5rem;
    }
}

.reservations:hover {
    background-color: var(--color-secondary);
    a {
        color: var(--color-main);
    }
}

.address{
    font-size: 1.2rem;
    color: var(--color-secondary);
    margin: 10px 0px;
}

.venue-open {
    padding: 0 10px;
    border: 2px dashed black;
    margin: 10px 0;

    div {
        display: flex;
        flex-flow: row;
        gap: 10px;
        justify-content: space-between;

        p {
            margin: 2px 0px;
        }

        .day {
            font-weight: bold;
        }
    }
}