.cuisines{
    display: flex;
    flex-flow: row;
    gap: 5px;
    flex-wrap: wrap;

    h2 {
        border: 2px black solid;
        padding: 0px 5px;
    }
}

.venue-tip__container{
    display: grid;
    grid-template-columns: 10% 90%;
    max-width: 99%;
    border: 2px black dashed;
    padding: 10px;
    margin: 10px 0px;

    p {
        margin-block: 0;
    }
}

.venue-info__container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.venue__container {
    padding: 10px 10px;
}

@media (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container-big {
        padding: 0 20px;
    }

    .text-main {
        margin-top: 0;
        text-align: left;

        p {
            margin: 0;
            text-align: left;

        }
    }
}

@media (min-width: 1700px) {
    .venue__container {
        padding: 10px 10vw;
    }

}