@font-face {
    font-family: "DM-sans";
    src: url("../public/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("opentype");
}

@font-face {
    font-family: "DM-sans-italic";
    src: url("../public/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("opentype");
}

@font-face {
    font-family: "DM-serif-display-italic";
    src: url("../public/assets/fonts/DMSerifDisplay-Italic.ttf") format("opentype");
}

:root {
    --background-color: #f4f0ec;
    --text-color: black;
    --font-xxl: 6rem;
    --font-xl: 3rem;
    --font-l: 2rem;
    --font-m: 1.3rem;
    --font-s: 1rem;
}

body{
    font-family: "DM-sans", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 0;
    font-weight: 900;
}

h2 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.divider {
    border-bottom: 3px solid black;
    margin: 10px 0;
}

.subtitle{
    font-weight: 500;
    line-height: 1.6rem;
    p {
        margin: 0;
    }
}

.text-logo{
    font-family: "DM-sans";
    color: var(--color-secondary);
    font-weight: 800;
    line-height: 1.2;
    padding: 15px 0;
}

.text-main {
    font-weight: 500;
    font-size: var(--font-s);
}

.link {
    position: relative;
    overflow: hidden;

    a {
        text-decoration: none;
    }
}


.link:hover {
    cursor: pointer;
    color: var(--color-secondary);
}

.link.selected {
    background-color: var(--color-secondary);
    color: var(--color-main);

    a {
        color: var(--color-main);
        text-decoration: none;
    }
}

.link.greyed-out {
    background-color: var(--color-main);
    color:  var(--color-secondary);
}

.link.greyed-out:hover {
    color: black;
    background-color: #F0CA4F;
}

ul {
    color: black;
}

.banner-container {
    width: 100%;
    overflow: hidden; /* Ensures that any overflow is hidden */
    white-space: nowrap; /* Prevent text wrapping */
}

.banner {
    background-color: var(--color-secondary);
    margin: 0 0;
    margin-bottom: 10px;
    padding: 0 20px;
    overflow: hidden; /* Ensures that Marquee content doesn't overflow */
    display: inline-block;

    h2{
        font-size: 3rem;
        color: var(--color-main);
    }

    h3 {
        margin: 0;
        font-size: 2.5rem;
        color: var(--color-main);
    }

}

.pill-banner {
    margin: 0 0;
    padding: 0 20px;
    overflow: hidden; /* Ensures that Marquee content doesn't overflow */
    display: inline-block;

    h3 {
        font-size: var(--font-m);
        font-weight: 300;
        font-family: DM-sans;
        background-color: var(--color-secondary);
        color: var(--color-main);
        border: 2px solid var(--color-secondary);
        margin: 5px 10px;
        padding: 0 10px ;
        text-transform: lowercase;

        a {
            text-decoration: none;
        }

    }

    h3:hover {
        background-color: var(--color-main);
        color: var(--color-secondary);
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: var(--font-s);
    }

    .subtitle {
        line-height: 1.2rem;
    }
}

