header {
}

header > h1 {
    font-size: var(--font-xl);
}

.back-button {
    position: relative;
    margin: 10px 10px;
    text-align: center;
    justify-content: center;
    width: 50px;
}

.back-button-icon {
}


.flex-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    background-color: var(--color-main);

     h2 {
         display: flex;
         align-items: center;
        padding: 0;
        margin: 0;
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        width: 100%;
        justify-content: center;
        text-align: center;
         height: 30px;
    }

    > h2:last-child {
        border-right:none;
    };

    > h2:hover {
        color: var(--color-main);
        background-color: var(--color-secondary);

        a {
            color: var(--color-main);
        }
    }
}

header h2 {
    font-size: var(--font-s);

    a {
        color: var(--color-secondary);
    }

}

header .flex-buttons > h2 {
    border-left: none;
    border-color: var(--color-secondary);
    font-size: var(--font-s);
    padding: 5px 0;
}

.flex-buttons .top {
    gap: 0px
}

.button-src {
    justify-content: center;
    text-align: end;
    margin-right: 20px;
    height: 100%;
}

.footer--container {
    bottom: 0;
    height: 40px;
    left:0;
    right: 0;
}

.static {
    position: static;
    background-color: black;
    height: 50px
}

.fixed {
    position: fixed;
    background-color: var(--color--main);
}

@media (max-width: 600px) {
    header > h1 {
        font-size: var(--font-xxl);
        font-family: "Onest";
        font-weight: 100;
    }
}
