.home__container {
    padding: 0 10px;
    .surprise > button{
        position: fixed;
        bottom: 20px;
        left: 75px;
        right: 75px;
        z-index: 1000;
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 500;
        padding: 10px 0;
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        background-color: var(--color-main);

        a {
            color: var(--color-secondary);
        }
    }

    .surprise > button:hover {
        color: var(--color-main);
        border: 2px solid var(--color-main);
        background-color: var(--color-secondary);

        a{
            color: var(--color-main);
        }
    }
}

.fixed-wrapper {
    position: fixed;
    bottom: 10px;
    left: 15px;
    right: 15px;
}

.home-grid{
    margin: 15px auto auto;
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.home-grid .category-list__box  {
    width: 22vw;
    justify-content: center;
    text-align: center;
    margin: auto
}

@media (max-width:1300px){

    .home__container {
        section:last-child {
            border-left: none;
        }
    }
    .home-grid .category-list__box {
        width: 45vw
    }
}

.cookie-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-main);
    color: var(--color-secondary);
    padding: 10px;
    text-align: center;
    width: 350px;
    border: 2px solid var(--color-secondary);
    z-index: 1000000000000000000000000000000000000000000000000;

}

.cookie-popup-buttons{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 10px;
    z-index: 1000000000000000000000000000000000000000000000000;

    p {
        border: 2px solid var(--color-secondary);
        padding: 5px;
        margin: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: var(--font-s);
        z-index: 1000000000000000000000000000000000000000000000000;

    }


    @media (hover: hover) {
        p:hover {
            background-color: var(--color-secondary);
            color: var(--color-main);
            z-index: 1000000000000000000000000000000000000000000000000;

        }
    }

}

@media (max-width: 600px) {
    .cookie-popup {
        z-index: 1000000000000000000000000000000000000000000000000;
        width: auto;
        left: 20px;
    }
}