.map-container{
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
}

.map--ui_container{
    height: 100vh;
    width: 100vw;
}

.map--ui_container-small{
    height: 100%;
    width: 100%;
}

.map--ui_header{
    position: fixed;
    top:0;
    height: 50px;
    background-color: #C9FF004C;
    width: 100%;
    z-index: 10000000;

    .logo-container {
        position: relative;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
    }

    .logo {
        border: none;
        width: auto;
        height: 30px;
    }

}


.map--filter_left {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 10000;
    width: 350px;
    height: auto;
    top: 70px;
    left: 20px;
}

.switch {
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px var(--color-secondary) solid;
    background-color: var(--color-main);

    p {
        width: 50%;
    }
}

.map--filter_container {
    padding: 10px;
    position: absolute;
    z-index: 10000;
    width: 300px;
    top: 170px;
    height: auto;
    left: 20px;
    border: 2px var(--color-secondary) solid;
    background-color: var(--color-main);

    .tags {
        display: flex;
        flex-flow: row;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            border: 2px black solid;
            padding: 0px 5px;
            font-size: var(--font-s);
        }

        a {
            color: var(--color-main);

        }

        h2:hover {
            background-color: var(--color-secondary);
            color: var(--color-main);
        }


    }


}

.map--venue_container_desktop {
    position: absolute;
    z-index: 10000;
    width: 300px;
    top: 20px;
    bottom: 20px;
    left: 20px;
    border: 2px var(--color-secondary) solid;
    background-color: var(--color-main);

    .close {
        background-color: var(--color-secondary);
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 10000000;
        padding: 5px;
        font-family: DM-sans;
        font-weight: 500;
        color: var(--color-main);
    }

    .map--venue_image {
        padding: 10px 10px 5px 10px;
        position: relative;

        img {
            max-width: 98%;
            padding: 0;
            margin: 0;
        }

        h2{
            color: var(--color-main);
            font-size: 2rem;
            padding: 10px;
            justify-content: center;
            text-align: center;
            left: 50%;
            top: 50%;
            width: 80%;
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            background-color: var(--color-secondary);
            cursor:pointer;
        }
    }

    .cuisines {
        h2 {
            font-size: var(--font-s);
        }
    }
}


.map-tip__container {
    position: absolute;
    z-index: 10000;
    top: 20px;
    left: 20px;
    width: 50%;
    border: 2px var(--color-secondary) solid;
    background-color: var(--color-main);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    p {
        margin: 0;
        color: var(--color-secondary);
    }
}

.map-venue-container{
    position: fixed;
    z-index: 1000000;
    bottom:0;
    left:0;
    right:0;
    height:55vh;
    background-color: var(--color-main);

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.map-venue-image{
    margin: 0 15px;
    position: relative;
    max-height: 25vh;

    h2{
        color: var(--color-main);
        font-size: 2rem;
        padding: 10px;
        justify-content: center;
        text-align: center;
        left: 50%;
        top: 50%;
        width: 80%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        background-color: var(--color-secondary);
        cursor:pointer;
    }

    .venue-open {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--color-secondary);
        background-color: var(--color-main);
        font-size: var(--font-s);
        border: 2px var(--color-secondary) solid;
    }
}

.leaflet-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cluster-icon {
    background-color: var(--color-main);
    border-radius: 50%;
    border: 2px var(--color-secondary) solid;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    font-size: var(--font-s);
}

.map--popup {
    z-index: 100000;
    position: absolute;
    bottom: 40px;
    left: 20px;
    height: auto;
    width: 320px;
    background-color: transparent;

    .pill-container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 5px;

        .pill {
            border: 1px solid var(--color-secondary);
            padding: 5px;
            margin: 0;
            background-color: var(--color-main);
        }
    }
}

@media (max-width: 1300px) {
    .map-tip__container {
        right: 20px;
        width: auto;

        p {
            font-size: var(--font-s);
        }
    }

    .map--filter_container {
        display: none;
    }
}

@media (max-width: 800px) {
    .map--filter_left {
        display: none;
    }
}